header {
	background-image: url(../images/Yale-world-map3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 178px;
}

h1 {
	font-family: 'Creepster', cursive;
	color: #B52200;
	text-align: center;
	font-size: 550%;
	letter-spacing: 35px;
	margin-top: 7px;
}

header  h2 {
	font-family: 'Bangers', cursive;
	text-align: center;
	font-size: 200%;
	margin-top: 10px;
}

label {
	font-family: 'Bangers', cursive;
	letter-spacing: 8px;
	font-size: 150%;
	margin-top: 20px;
}

.btn-primary {
	margin-bottom: 5px;
}

h3 {
	font-family: 'Bangers', cursive;
	letter-spacing: 5px;
	border: 1px, solid, #B52200;
	border-radius: 25px;
}

.btn-secondary {
	font-family: 'Creepster', cursive;
	color: #B52200;
	text-align: center;
	letter-spacing: 5px;
	margin: 10px 10px;
}

.btn-secondary:nth-child(1n+1) {
	margin-left: 0px;
}